version: 2.1
orbs:
  discord: teka23/discord@0.0.1
jobs:
  test:
    docker:
      - image: circleci/openjdk:stretch
    steps:
      - checkout
      - run: mvn test
      - store_artifacts:
          path: target
      - store_test_results:
          path: target/surefire-reports
  build:
    docker:
      - image: circleci/openjdk:stretch
    steps:
      - checkout
      - run: mvn -Dmaven.test.skip=true package
  discordmessage:
    docker:
      - image: circleci/openjdk:stretch
    steps:
      - discord/notify:
          color: '4383476'
          mentions: 'USERID1,USERID2,&ROLE_ID1,here,everyone'
          message: This is a custom message notification
          webhook: https://discord.com/api/webhooks/840738570049814548/mZcN9I2_xFSlD1jat19PfBOcVQMEq0ZX4xU7IhKgXio1QUIv45lbUDaGsB4qN5IESQE3
      - discord/status:
          fail_only: false
          only_for_branches: only_for_branches
          webhook: https://discord.com/api/webhooks/840738570049814548/mZcN9I2_xFSlD1jat19PfBOcVQMEq0ZX4xU7IhKgXio1QUIv45lbUDaGsB4qN5IESQE3  
workflows:
  version: 2.1

  build-then-test:
    jobs:
      - build
      - test:
          requires:
            - build
      - discordmessage
