version: 2.0

jobs:
  test:
    docker:
      - image: circleci/openjdk:stretch
    steps:
      - checkout
      - run: mvn test
      - store_artifacts:
          path: target/site/jacoco/**
      - store_test_results:
          path: target/surefire-reports
  build:
    docker:
      - image: circleci/openjdk:stretch
    steps:
      - checkout
      - run: mvn -Dmaven.test.skip=true package
workflows:
  version: 2

  build-then-test:
    jobs:
      - build
      - test:
          requires:
            - build