version: 2.1
orbs:
  discord: teka23/discord@0.0.1
  win: circleci/windows@2.2.0
jobs:
  test:
    #docker:
    #  - image: circleci/openjdk:stretch
    machine: # executor type
      image: ubuntu-2004:202010-01
    steps:
      - checkout
      - run: mvn test
      - store_artifacts:
          path: target
      - store_test_results:
          path: target/surefire-reports
      - run: exit 0
      - discord/status:
          fail_only: false
          webhook: $webhook  
  build:
    docker:
      - image: circleci/openjdk:11.0.0
    steps:
      - checkout
      - run: mvn -Dmaven.test.skip=true package
  discordmessage:
    executor: win/default
    steps:
      - discord/notify:
          color: '4383476'
          mentions: 'G2Waterblade,Crenix,here,everyone'
          message: CircleCI acaba de empezar!
          webhook: $webhook
workflows:
  version: 2.1

  build-then-test:
    jobs:
      - build
      - test:
          requires:
            - build
      - discordmessage
